body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    color: gold;
    padding: 15px;
    text-align: center;
}

nav{
    background-color: gold;
    padding: 10px;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

main{
    display: flex;
    min-height: 80vh;
    background-color: gold;
}

aside{
    width: 200px;
    background-color: black;
    color: gold;
    padding: 15px;
}

aside ul{
    list-style: none;
    padding: 0;
}

aside ul li{
    margin-bottom: 15px;
}

aside ul li a{
    text-decoration: none;
    color: white;
}

section{
    flex: 1;
    padding: 20px;
}

footer{
    background-color: black;
    color: gold;
    text-align: center;
    padding: 10px;
}